.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    max-width: 300px;
    background: white;
  }
  
  .search-input {
    flex: 1;
    border: none;
    padding: 8px;
    outline: none;
  }
  
  .searchd-button {
    background: #395c81;
    border: none;
    padding: 8px 12px;
    color: white;
    cursor: pointer;
    font-size: 14px;
  }
  
  .search-button:hover {
    background: #0056b3;
  }
  